.play-game-page {
  background-image: url("https://media.istockphoto.com/vectors/black-jack-table-vector-illustration-eps-10-casino-vector-id1147481668?b=1&k=20&m=1147481668&s=170667a&w=0&h=FU9HT2uXOHxqXf7_6yH287uaL54Yp0cBZJ12969cSPI=");
  height: 85vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.play-game-page > div {
  display: flex;
  justify-content: center;
}

.dealer-hand-row {
  border: solid 5px red;
  display: flex;
}

.dealer-cards-row {
  border: solid 5px blue;
  margin: 0;
}

.middle-row {
  border: solid 5px green;
  height: 2rem;
}

.your-cards-row {
  border: solid 5px blue;
}

.your-hand-row {
  border: solid 5px red;
}

.card-cont {
  border: solid 3px orange;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.card-cont-marg-bottom {
  border: solid 3px orange;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem 1rem 1rem;
}

.card-cont-marg-top {
  border: solid 3px orange;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 0rem 1rem;
}

.card-cont > div {
  height: 8rem;
  width: 6rem;
}

.card-cont-marg-bottom > div {
  height: 8rem;
  width: 6rem;
}

.card-cont-marg-top > div {
  height: 8rem;
  width: 6rem;
}

.card-cont > div {
  margin: 0rem 0.3rem 0rem 0.3rem;
}

.card-cont-marg-bottom > div {
  margin: 0rem 0.3rem 0rem 0.3rem;
}

.card-cont-marg-top > div {
  margin: 0rem 0.3rem 0rem 0.3rem;
}

.hit-stay-cont {
  display: flex;
  width: 20rem;
  justify-content: space-around;
  margin-left: 60rem;
}
