/*/ ////spades images/////*/

.AS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_a.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.twoS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_2.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.threeS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_3.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.fourS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_4.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.fiveS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_5.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.sixS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_6.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.sevenS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_7.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.eightS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_8.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.nineS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_9.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.tenS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_10.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.JS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_v.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.QS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_d.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.KS {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/pique_r.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

/*/ ////clubs images/////*/

.AC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_a.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.twoC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_2.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.threeC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_3.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.fourC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_4.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.fiveC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_5.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.sixC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_6.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.sevenC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_7.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.eightC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_8.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.nineC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_9.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.tenC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_10.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.JC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_v.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.QC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_d.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.KC {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/trefle_r.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

/*/ ////hearts images/////*/

.AH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_a.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.twoH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_2.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.threeH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_3.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.fourH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_4.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.fiveH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_5.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.sixH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_6.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.sevenH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_7.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.eightH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_8.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.nineH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_9.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.tenH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_10.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.JH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_v.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.QH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_d.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

.KH {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/coeur_r.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius:.5rem
}

/*/ ////diam images/////*/

.AD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_a.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.twoD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_2.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.threeD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_3.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.fourD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_4.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.fiveD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_5.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.sixD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_6.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.sevenD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_7.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.eightD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_8.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.nineD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_9.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.tenD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_10.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.JD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_v.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.QD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_d.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}

.KD {
  background-image: url("https://www.dcode.fr/tools/playing-cards/images/carreau_r.png");
  width: 4em;
  height: 5em;
  background-size: cover;
  border-radius: 0.5rem;
}
